<?xml version="1.0" encoding="utf-8" ?>
<odoo>


    <!-- A menu will only appear if it's linked with an action. -->
    <menuitem id="menu_hospital_root"
    name="Hospital"
    sequence="100"
    web_icon="om_hospital,static/description/icon.png"/>

    <!-- sub menu -->
    <menuitem id="menu_patient_master"
    parent="menu_hospital_root"
    name="Patient details"
    sequence="0"/>

    <menuitem id="menu_appointment_master"
    name="Appointments"
    parent="menu_hospital_root"
    sequence="1"/>

    <menuitem id="menu_configuration"
    name="Configurations"
    parent="menu_hospital_root"
    sequence="3"/>

    <menuitem id="menu_cancel_appointment"
    name="Cancellation"
    parent="menu_appointment_master"
    sequence="4"
    action="action_cancel_appointment"/>

</odoo>